In [1]:
import numpy as np 
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/abroad-study-cost-predictor/abroad  - Sheet1.csv

## About Dataset
This dataset provides information about the yearly fees for various courses offered by colleges and universities across different countries. The data is sourced from Jeduka.com, a platform known for providing detailed insights into educational opportunities abroad. The dataset consists of four key columnsptions.

* COUNTRY: The country where the course is offered.
* COURSE: The specific course being offered (e.g., Engineering, Medicine, Business).
* COURSE TYPE: The type of course (e.g., Bachelor's, Master's, Diploma).
* FEES: The yearly tuition fees for the course in the respective country (in local currency).

This dataset is ideal for those interested in comparing study costs across countries and analyzing trends in international education expenses. It can be utilized to predict and compare fees based on various parameters, helping students make informed decisions about their study abroad options.

## Loading Data

In [2]:
df = pd.read_csv("/kaggle/input/abroad-study-cost-predictor/abroad  - Sheet1.csv")

In [3]:
df.head(10)

,COUNTRY,COURSE TYPE,COURSE (SPECIALIZATION),FEES
0,GERMANY,MBA,MBA in Sales & Marketing,3678127.31
1,GERMANY,MBA,MBA in Banking,1253594.37
2,GERMANY,MBA,MBA in Business Administration,454540.69
3,GERMANY,MBA,MBA in Hospital/Healthcare Management,3246719.22
4,GERMANY,MBA,MBA in Human Resource Management,1217519.71
5,GERMANY,MBA,MBA in Internal Business,1442986.32
6,GERMANY,MBA,MBA in Supply Chain & Logistics Management,1112181.71
7,GERMANY,MBA,MBA in General Management,1420439.66
8,GERMANY,MBA,MBA in Global Business Management,1339271.68
9,GERMANY,MBA,MBA in Entrepreneurship & Leadership Management,1147174.12

## Data Preprocessing

In [4]:
df.shape

(489, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COUNTRY                  489 non-null    object
 1   COURSE TYPE              489 non-null    object
 2   COURSE (SPECIALIZATION)  489 non-null    object
 3   FEES                     489 non-null    object
dtypes: object(4)
memory usage: 15.4+ KB

In [6]:
df.describe()

        COUNTRY            COURSE TYPE COURSE (SPECIALIZATION)    FEES
count       489                    489                     489     489
unique       11                      4                     189     385
top     GERMANY  MASTERS OF MANAGEMENT     M.ENG in Electrical  904770
freq         61                    166                      11      10

In [7]:
df.COUNTRY.unique()

array(['GERMANY', 'USA', 'CANADA', 'FRANCE', 'CHINA', 'UK', 'AUSTRALIA',
       'RUSSIA', 'SINGAPORE', 'ITALY', 'BELGIUM'], dtype=object)

In [8]:
df["COURSE TYPE"].unique()

array(['MBA', 'MASTERS OF MANAGEMENT', 'M.ENG', 'M.Sc'], dtype=object)

In [9]:
df["COURSE (SPECIALIZATION)"].unique()

array(['MBA in Sales & Marketing ', 'MBA in Banking',
       'MBA in Business Administration',
       'MBA in Hospital/Healthcare Management',
       'MBA in Human Resource Management', 'MBA in Internal Business',
       'MBA in Supply Chain & Logistics Management',
       'MBA in General Management', 'MBA in Global Business Management',
       'MBA in Entrepreneurship & Leadership Management',
       'MBA in Tourism', 'MBA in Business Engineer', 'MBA in Finance',
       'MBA in Accounting', 'MBA in Project Management',
       'MBA in E-Sports Management',
       'MASTERS OF MANAGEMENT in Hotel Management',
       'MASTERS OF MANAGEMENT in Marketing',
       'MASTERS OF MANAGEMENT in Event Management',
       'MASTERS OF MANAGEMENT in Luxury & Brand',
       'MASTERS OF MANAGEMENT in Logistics & Supply Chain ',
       'MASTERS OF MANAGEMENT in International Business ',
       'MASTERS OF MANAGEMENT in Supply Chain Management',
       'MASTERS OF MANAGEMENT in Hospital/Healthcare Management',
       'MASTERS OF MANAGEMENT in Real Estate',
       'MASTERS OF MANAGEMENT in Human Resource Management',
       'MASTERS OF MANAGEMENT in Risk Management',
       'MASTERS OF MANAGEMENT in Sports,Leisure & Tourism',
       'MASTERS OF MANAGEMENT in Eco-Design & Sustainable',
       'MASTERS OF MANAGEMENT in Tourism',
       'MASTERS OF MANAGEMENT in Data Analysis',
       'MASTERS OF MANAGEMENT in Digital Marketing',
       'MASTERS OF MANAGEMENT in Fashion Management',
       'MASTERS OF MANAGEMENT in Media Management',
       'MASTERS OF MANAGEMENT in Psychology Management',
       'MASTERS OF MANAGEMENT in Public Relations Management',
       'MASTERS OF MANAGEMENT in Sports Management',
       'MASTERS OF MANAGEMENT in Stratergic Management',
       'M.ENG in Mechanical', 'M.ENG in Electrical',
       'M.ENG in Architecture', 'M.ENG in Civil ',
       'M.ENG in IT & Networking', 'M.ENG in Chemical',
       'M.ENG in Computer Science Engineering', 'M.ENG in Aerospace',
       'M.ENG in Biomedical', 'M.ENG in Energy & Environment',
       'M.ENG in Industrial', 'M.ENG in International Business',
       'M.ENG in Production', 'M.Sc in Physics', 'M.Sc in Chemistry',
       'M.Sc in Biology', 'M.Sc in Psychology ', 'M.Sc in Nursing',
       'M.Sc in Environment', 'M.Sc in Agriculture',
       'M.Sc inBusiness & Finance', 'M.Sc inI.T', 'M.Sc inData Science',
       'MBA in Sales & Marketing', 'MBA in International Business',
       'MBA in Executive MBA', 'MASTER OF MANAGEMENT in Hotel Management',
       'MASTER OF MANAGEMENT in Marketing',
       'MASTER OF MANAGEMENT in Logistics & Supply Chain ',
       'MASTER OF MANAGEMENT in International Business ',
       'MASTER OF MANAGEMENT in Supply Chain Management',
       'MASTER OF MANAGEMENT in Hospital/Healthcare Management',
       'MASTER OF MANAGEMENT in Real Estate',
       'MASTER OF MANAGEMENT in Risk Management',
       'MASTER OF MANAGEMENT in Sports,Leisure & Tourism',
       'MASTER OF MANAGEMENT in Wine & Gastronomy',
       'MASTER OF MANAGEMENT in Public Relations Management',
       'MASTER OF MANAGEMENT in Sports Management',
       'MASTER OF MANAGEMENT in Spriti Marketing',
       'MASTER OF MANAGEMENT in Finance',
       'MASTER OF MANAGEMENT in Eco-Design & Sustainable',
       'M.ENG in Marine', 'M.ENG in Nuclear ', 'M.ENG in Nanotechnology',
       'M.ENG in Software', 'M.ENG in Bio Engineering',
       'M.Sc in NeuroScience', 'M.Sc in Forensic Science',
       'M.Sc in Botany', 'M.Sc in Energy & Environment',
       'M.Sc in Zoology', 'M.Sc in Mathematics', 'M.Sc in Geology',
       'MBA in Marketing', 'MASTERS OF MANAGEMENT in Leadership',
       'MASTERS OF MANAGEMENT in Business Analytics',
       'MASTERS OF MANAGEMENT in Purchasing & resourcing',
       'MASTERS OF MANAGEMENT in Project Management',
       'M.ENG in Agriculture', 'M.ENG in Biology',
       'M.ENG in Environmental', 'M.ENG in Mining', 'M.ENG in Texttile',
       'M.Sc inChemistry', 'M.Sc inBiology', 'M.Sc inPsychology ',
       'M.Sc inNursing', 'M.Sc inEnvironment', 'M.Sc inAgriculture',
       'M.Sc inEnergy & Environment', 'M.Sc inZoology',
       'M.Sc inMathematics', 'MBA inBanking',
       'MBA inBusiness Administration', 'MBA in Gastronomy',
       'MBA in Information Technology', 'MBA in Leadership Management',
       'MBA in Luxury Management', 'MBA in Wine Marketing & Management',
       'MASTERS OF MANAGEMENT in Management',
       'MASTERS OF MANAGEMENT in Luxury and Brand',
       'MASTERS OF MANAGEMENT in Digital Marketing & E-Business',
       'MASTERS OF MANAGEMENT in Logistic and Supply Chain',
       'MASTERS OF MANAGEMENT in International Corporate Finance',
       'MASTERS OF MANAGEMENT in International Business',
       'MASTERS OF MANAGEMENT in Human Resource ',
       'MASTERS OF MANAGEMENT in International Sports And Event Management',
       'M.ENG in ME/M.TECH', 'M.ENG in Electtical Engineering',
       'M.ENG in Civil Engineering', 'M.ENG in IT Engineering',
       'M.ENG in Computer Engineering', 'M.ENG in Aerospace Engineering',
       'M.ENG in Business Administration', 'M.ENG in Energy Engineering',
       'M.ENG in Food Technology', 'M.ENG in \nIndustrial',
       'M.ENG in Materials', 'M.ENG in \nRisk Management',
       'M.ENG in Transportation', 'M.Sc in Security Science',
       'M.Sc in Business & Finance', 'MBA in Finance & Accounting',
       'MASTERS OF MANAGEMENT in Finance',
       'MASTERS OF MANAGEMENT in Environment', 'M.ENG in \nArchitecture',
       'M.ENG in \nFood Technology',
       'MASTERS OF MANAGEMENT in Luxury & Brand ',
       'MASTERS OF MANAGEMENT in Communication',
       'MASTERS OF MANAGEMENT in Banking',
       'MASTERS OF MANAGEMENT in Entrepreneurship & Leadership Management',
       'MASTERS OF MANAGEMENT in Fashion',
       'MASTERS OF MANAGEMENT in Sports', 'M.ENG in Textile',
       'M.Sc in Biotechnology', 'M.Sc in Business Analytics',
       'MASTERS OF MANAGEMENT in Accounting',
       'MASTERS OF MANAGEMENT in Business Administration',
       'M.ENG in Biological', 'M.ENG in Mechatronics',
       'M.Sc in \nBiology', 'M.Sc in Communication',
       'MASTER OF MANAGEMENT in Management',
       'MASTER OF MANAGEMENT in International Business',
       'MASTER OF MANAGEMENT in Business Administration',
       'MASTER OF MANAGEMENT in Economics',
       'MASTER OF MANAGEMENT in Commerce', 'M.ENG in Nuclear',
       'MBA in Supplychain & Logistics Management',
       'MASTERS OF MANAGEMENT in Retail',
       'MASTERS OF MANAGEMENT in Aviation',
       'MASTERS OF MANAGEMENT in Commerce',
       'MASTERS OF MANAGEMENT in Operations', 'MBA in Operations',
       'MASTERS OF MANAGEMENT in Luxury And Brand',
       'MASTERS OF MANAGEMENT in Global Business Management',
       'MASTERS OF MANAGEMENT in Tourism Management',
       'MASTERS OF MANAGEMENT in ENTREPRENEURSHIP AND LEADERSHIP',
       'M.ENG in Architechture', 'M.ENG in \nCivil',
       'MBA in Business Administartion',
       'MBA in Supply Chain And Logistic',
       'MASTERS OF MANAGEMENT in General Management',
       'MASTERS OF MANAGEMENT in Global Management',
       'MASTERS OF MANAGEMENT in \nFinance',
       'MASTERS OF MANAGEMENT in \nInformation Technology',
       'MASTERS OF MANAGEMENT in Business Administartion',
       'MASTERS OF MANAGEMENT in Economics College',
       'MASTERS OF MANAGEMENT in Entreprenuer and Leadership',
       'M.ENG in Civil', 'M.Sc in Data Analysis'], dtype=object)

In [10]:
len(df["COURSE (SPECIALIZATION)"].unique())

189

In [11]:
df.isnull().sum()

COUNTRY                    0
COURSE TYPE                0
COURSE (SPECIALIZATION)    0
FEES                       0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
g_d = df.groupby('COUNTRY')[['FEES', 'COURSE TYPE']].max().reset_index().sort_values(by ='FEES')
g_d.head(60)

      COUNTRY        FEES COURSE TYPE
0   AUSTRALIA  3660048.53         MBA
7      RUSSIA   494819.06         MBA
9          UK   686706.08         MBA
8   SINGAPORE   817062.43         MBA
10        USA   877568.94         MBA
1     BELGIUM       90340         MBA
3       CHINA   908534.05         MBA
4      FRANCE   981415.32         MBA
5     GERMANY   986647.13         MBA
6       ITALY   993437.46         MBA
2      CANADA   994501.12         MBA